<?xml version="1.0"?>
<layout version="0.1.0">
  <events_adminhtml_eventsbackend_index>
	<reference name="content">
	  <block type="events/adminhtml_eventsbackend" name="eventsbackend" template="events/eventsbackend.phtml"/>
	</reference>
  </events_adminhtml_eventsbackend_index>
  <events_adminhtml_event_index>
	<reference name="content">
	  <block type="events/adminhtml_event" name="event" />
	</reference>
  </events_adminhtml_event_index>
  <events_adminhtml_howhear_index>
	<reference name="content">
	  <block type="events/adminhtml_howhear" name="howhear" />
	</reference>
  </events_adminhtml_howhear_index>
</layout>
