<?xml version="1.0"?>
<config>
  <modules>
    <Tech9logy_Contactform>
      <version>0.1.0</version>
    </Tech9logy_Contactform>
  </modules>
  <frontend>
    <routers>
      <contactform>
        <use>standard</use>
          <args>
            <module>Tech9logy_Contactform</module>
            <frontName>contact-us</frontName>
          </args>
      </contactform>
    </routers>
		<layout>
		  <updates>
			<contactform>
			  <file>contactform.xml</file>
			</contactform>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <contactform>
        <class>Tech9logy_Contactform_Helper</class>
      </contactform>
    </helpers>
	<blocks>
	  <contactform>
		<class>Tech9logy_Contactform_Block</class>
	  </contactform>
	</blocks>
  </global>
</config> 